In [35]:
#import libraries
import glob 
import pandas as pd 
import re

In [58]:
#list of files from directory folder 
#The glob module finds all the pathnames matching a specified pattern

filenames = glob.glob("../Pfam_output/" + "/*.tsv") 

file_list = []
for file in filenames:
    name = re.search('output/(.+?).tsv', file)
    if name:
        column_name = name.group(1)
    sample_df = pd.read_table(file, sep='\t', skiprows = 1, index_col='Geneid', usecols=['Geneid','Assembly/mg.reads.sorted.bam'], header = 0)
    sample_df.rename(columns={'Assembly/mg.reads.sorted.bam': column_name}, inplace= True)
    file_list.append(sample_df)

#Concatenate all DataFrames
big_df   = pd.concat(file_list, axis = 1 , join = 'inner')

In [59]:
print(big_df)

                 T_722_9  T_712_2  T_712_4  T_712_7  T_712_6  T_712_14  \
Geneid
Tautomerase         3612     2736     3234     2550     2718      3321
AAA                52487    37781    35858    36402    37791     39178
DNA_processg_A     10083     6850     6953     6433     7036      7381
LysR_substrate    184559   128395   152738   129096   150866    142729
adh_short_C2      200891   142667   134660   133062   140452    149871
...                  ...      ...      ...      ...      ...       ...
TRM                   10       11       24        7       13        40
AAA_lid_7              4       21       27       21        9         5
Tai4                  34      106      308      157      164       202
Phage_head_fibr       10       62       18       51       59         6
MetallophosN           6       48       16       66       60        74

                 T_712_8  T_712_9  T_712_13  T_712_11  T_722_5  T_722_6  \
Geneid
Tautomerase         3211     3734      3250      3007     3835     3476
AAA                40382    41648     38485     35267    46004    46421
DNA_processg_A      7519     7054      7418      6196     8668     7849
LysR_substrate    157615   147211    177306    132360   189088   170710
adh_short_C2      156069   156949    146956    132753   179674   174645
...                  ...      ...       ...       ...      ...      ...
TRM                   33       47        12        13       23       42
AAA_lid_7             10       41        29        12       21        7
Tai4                 157      165       256       251      139      155
Phage_head_fibr       45       32       111        80        9       38
MetallophosN          19       46        23        46       60       72

                 T_722_12  T_722_1
Geneid
Tautomerase          3361     3873
AAA                 47256    44877
DNA_processg_A       8144     7690
LysR_substrate     158270   172988
adh_short_C2       173172   175572
...                   ...      ...
TRM                    21       31
AAA_lid_7              39       25
Tai4                  107      168
Phage_head_fibr        40       49
MetallophosN          106       59

[6974 rows x 14 columns]

In [34]:
import re

sample_df = pd.read_table('../Pfam_output/T_722_9.tsv', sep='\t', skiprows = 1, index_col='Geneid', usecols=['Geneid','Assembly/mg.reads.sorted.bam'], header = 0)
#filtered_df = 
file = '../Pfam_output/T_722_9.tsv'
name = re.search('output/(.+?).tsv', file)
if name:
    column_name = name.group(1)
print(column_name)
sample_df.rename(columns={'Assembly/mg.reads.sorted.bam': column_name}, inplace= True)

sample_df

T_722_9

                T_722_9
Geneid
Tautomerase        3612
AAA               52487
DNA_processg_A    10083
LysR_substrate   184559
adh_short_C2     200891
...                 ...
PT-TG                 7
DUF2114               3
zinc-ribbons_6        5
CDC37_N              10
Mo25                  5

[8969 rows x 1 columns]

In [22]:
#import readline


openfile = open("../Pfam_output/T_722_9.tsv", "r")
#header = openfile.readline()
genes = []
mapcounts = []
for line in openfile:
    if line.startswith('#'):
        header = openfile.readline()
    else: 
        columns = line.strip().split('\t')
        GeneID = columns[0]
        MappedReads = columns[6]
        genes.append(GeneID)
        mapcounts.append(MappedReads)
df1 = pd.DataFrame(mapcounts, index = genes, columns = ['T_722_9'])
df1

               T_722_9
Tautomerase       3612
AAA              52487
DNA_processg_A   10083
LysR_substrate  184559
adh_short_C2    200891
...                ...
PT-TG                7
DUF2114              3
zinc-ribbons_6       5
CDC37_N             10
Mo25                 5

[8969 rows x 1 columns]

In [38]:
df1.loc['SLT']

T_722_9    53746
Name: SLT, dtype: object